<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Jarvys</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Jarvys.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
  <script src="{{ url_for('static', filename='js/JarvysEvent.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">JARVYS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#Jarvys">HOME</a></li>
        <li><a href="#features">FONCTIONNALITES</a></li>
        <li><a href="{{ url_for('static', filename='documentation.html') }}">DOCUMENTATION</a></li>
      </ul>
    </div>
  </div>
</nav>

	<div id="header" class="container">
      <canvas id="waves"></canvas>
		<div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">

                    <div class="welcome-heading">
                        <h1 id="titleAccueil">JARVYS</h1>
                        <p id="subtitle">L'assistant intelligent Ynov</p>
                    </div>

                    <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s" style="visibility: visible; animation-delay:0.5s; animation-name: fadeInDown;">
                        <img id="banniere" src="{{ url_for('static', filename='images/mascotte-coucou.gif') }}"/>
                    </div>
                </div>
            </div>
        </div>
	</div>
<!-- Container (Jarvys Section) -->
<div id="Jarvys" class="container text-center">

	<h3 class="text-center title">Votre assistant Ynov personnel</h3>
	<div class="col-lg-6">
		<img id="logo" class="text-left wow fadeInDown" data-wow-delay="0.2s" src="{{ url_for('static', filename='images/logo.png')}}"/>
	</div>
	<div class="col-lg-6">
		<p class="text-left">Vous ne savez <span class="fontBold">jamais</span> quel est votre prochain cours ?
		<span class="fontBold">Marre</span> de devoir vous connecter à la fois sur votre boite mail et hyperplanning ? Jarvys se propose de devenir votre <span class="fontBold">assistant personnel</span> pour vous aider à organiser votre vie d'étudiant YNOV. Accédez à votre emploi du temps, vos absences, notes ou boite mail YNOV vial commande vocale. Pour centraliser toutes vos informations et ainsi vous facilitez la vie. </p>
	</div>

	<h3 class="text-center title title2">Pourquoi l'utiliser ?</h3>
	<div class="col-12 col-md-4">
		<div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
			<div class="single-icon">
				<i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
			</div>
			<h2>Speak to Find</h2>
			<p>Poser une question à Jarvys, et il trouvera la réponse</p>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
			<div class="single-icon">
				<i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
			</div>
			<h2>Accès rapide</h2>
			<p>Accès à hyperplanning, boite mail YNOV, Slack, etc..</p>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
			<div class="single-icon">
				<i class="fa fa-plug fa-2x" aria-hidden="true"></i>
			</div>
			<h2>Une Connexion</h2>
			<p>Plus besoin de se connecter sur toutes les plateformes</p>
		</div>
	</div>


</div>

<!-- Container (Feature Section) -->
<div id="features" class="bg-1">
	<div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
		<h4>Fonctionnalités</h4>
		  <div class="col-lg-6">
			  <img id="iphone" src="{{ url_for('static', filename='images/iphone.png') }}" width=80%/>
		  </div>
		  <div class="col-lg-6">
        <h5 class="colorWhite">Hyperplanning</h5>
        <p> Vous pouvez demander à Jarvys d'afficher toutes les informations concernant Hyperplanning, que ce soit l'affichage des cours, du relevé de notes, des absences et des retards. </p>
        <h5 class="colorWhite">Slack</h5>
        <p>   Jarvys est capable d'écrire des messages dans les différents canaux choisis par l'utilisateur, d'écrire des messages privés aux personnes de votre choix, et de lire des nouveaux messages.</p>
        <h5 class="colorWhite">Requête Google</h5>
        <p> Si Jarvys ne connaît pas la réponse, Google doit le savoir ! </p>
        <h5 class="colorWhite">Mails</h5>
        <p> Notre intelligence artificielle est capable d'interroger les services Outlook afin d'interroger sur la réception d'un mail, notifier l'utilisateur si un nouveau mail est reçu, lire l'entête, l'émetteur et la date du mail, ainsi que rediriger l'utilisateur vers sa boite mail.</p>
          </div>
      </div>
    </div>
  </div>
  </div>


  <div id="team" class="jumbotron .bg-2">
	<div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="subTitle">YDAYS TEAM</h3>
    </div>
  </div>
  <div class="container ">

      <div class="row">
          <div class="col-lg-3">
              <img id="mascotteKameLeft" src="{{ url_for('static', filename='images/mascotte-kamehameha.gif') }}" width="130%"/>
          </div>
            <div class="col-lg-3 col-md-6 col-sd-12">
            <div id="cardNicolas" class="card cardMiddleLeft">
                  <div class="avatar" id="avatarNicolas"></div>
                  <div class="profile">
                    <h2>Nicolas Goureau</h2>
                    <h3>Chef de projet</h3>
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-6 col-sd-12">
              <div id="cardTanguy" class="card">
                <div class="avatar" id="avatarTanguy"></div>
                <div class="profile">
                  <h2>Tanguy Badier</h2>
                  <h3>Intégrateur Web</h3>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
                <img  id="mascotteKameRight" src="{{ url_for('static', filename='images/mascotte-kamehameha.gif') }}" width="130%"/>
            </div>
        </div>

      <div class="row paddingCard">
        <div class="col-lg-3 col-md-6 col-sd-12">
          <div id="cardLise" class="card cardLeft">
              <div class="avatar" id="avatarLise"></div>
              <div class="profile">
                <h2>Lise Monfort</h2>
                <h3>MOA</h3>
              </div>
          </div>
        </div>
          <div class="col-lg-3 col-md-6 col-sd-12">
          <div id="cardAntonin" class="card cardMiddleLeft">
                <div class="avatar" id="avatarAntonin"></div>
                <div class="profile">
                  <h2>Antonin Joulie</h2>
                  <h3>Développeur Python</h3>
                </div>
              </div>
            </div>
          <div class="col-lg-3 col-md-6 col-sd-12">
            <div id="cardMathieu" class="card cardMiddleRight">
              <div class="avatar" id="avatarMathieu"></div>
              <div class="profile">
                <h2>Matthieu Fournier</h2>
                <h3>Développeur Python</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sd-12">
            <div id="cardAntoine" class="card cardRight">
              <div class="avatar" id="avatarAntoine"></div>
              <div class="profile">
                <h2>Antoine Gosset</h2>
                <h3>Développeur Python</h3>
              </div>
            </div>
          </div>
      </div>

      <div class="row paddingCard">
        <div class="col-lg-3 col-md-6 col-sd-12">
          <div id="cardHenry" class="card cardLeft">
              <div class="avatar" id="avatarHenry"></div>
              <div class="profile">
                <h2>Henry Maisonneuve</h2>
                <h3>Développeur mobile</h3>
              </div>
          </div>
        </div>
          <div class="col-lg-3 col-md-6 col-sd-12">
          <div id="cardMathias" class="card cardMiddleLeft">
                <div class="avatar" id="avatarMathias"></div>
                <div class="profile">
                  <h2>Mathias Loiret</h2>
                  <h3>Développeur mobile</h3>
                </div>
              </div>
            </div>
          <div class="col-lg-3 col-md-6 col-sd-12">
            <div id="cardCorentin" class="card cardMiddleRight">
              <div class="avatar" id="avatarCorentin"></div>
              <div class="profile">
                <h2>Corentin Lemarchand</h2>
                <h3>Designer</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sd-12">
            <div id="cardAnthea" class="card cardRight">
              <div class="avatar" id="avatarAnthea"></div>
              <div class="profile">
                <h2>Anthea Vivion</h2>
                <h3>Designer</h3>
              </div>
            </div>
          </div>
      </div>
    </div>



		</div>

    <div class="modal-wrapper">
      <div class="modal bg-1">
        <div class="head">
          <a class="btn-close trigger">
            <i class="fa fa-times" aria-hidden="true"></i>
          </a>
        </div>
        <div class="content" id="contentModal">

        </div>
      </div>
    </div>

<footer class="text-center bg-1">
  <a class="up-arrow" id="scrollUp" href="#header" style="position: fixed; z-index: 2147483647;  display: none;
">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <h3>JARVYS</h3>

	<a class="btn awesomeBtn" href="mailto:nicolas.goureau@ynov.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
	<a class="btn awesomeBtn" href="https://github.com/Jarvys-Ynov"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>

	<p>Copyright ©2018 Jarvys Designed by Jarvys Team</p>
</footer>

</body>
</html>
